<form xmlns="http://www.w3.org/1999/html">
    <fieldset class="row">
        <span class="col-md-5 col-md-offset-3">{{input type="text" value=inputValue class="form-control"}}</span>
        <button type="submit" class="btn btn-default col-md-1" {{action 'inputSubmitted' inputValue}}>Say</button>
    </fieldset>
</form>
