<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Word</label>
        <div class="col-sm-10">
          {{input type="text" value=item.word class="form-control" placeholder="The actual word, e.g. how"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Base form (optional)</label>
        <div class="col-sm-10">
          {{input type="text" value=item.baseform class="form-control" placeholder="Base form of the word or a base synonym"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
          {{input type="text" value=item.type class="form-control" placeholder="The type of the word, e.g. adverb"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Subtype (optional)</label>
        <div class="col-sm-10">
          {{input type="text" value=item.subtype class="form-control" placeholder="The subtype of the word, e.g. interrogative"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Addition (optional)</label>
        <div class="col-sm-10">
          {{input type="text" value=item.addition class="form-control" placeholder="Additional information, e.g. manner"}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" {{action 'buttonClicked' item}}>{{buttonLabel}}</button>
        </div>
    </div>
</div>