@import "bootstrap";

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.sarah-output {
  overflow: hidden;
  height: 200px;
}
.sarah-output-child{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-right: 15px; /* Increase this value for cross-browser compatibility */
}
