<h2>{{title}}</h2>

<div class="row">

    <div class="col-md-6">
      {{word-form item=model buttonLabel=buttonLabel action='saveWord'}}
    </div>

    <div class="col-md-4">
        <div class="panel panel-default library-item">
            <div class="panel-heading">
                <h3 class="panel-title">{{model.word}}</h3>
            </div>
            <div class="panel-body">
                <p>Base form: <strong>{{model.baseform}}</strong></p>
                <p>Type: <strong>{{model.type}}</strong></p>
                <p>Subtype: <strong>{{model.subtype}}</strong></p>
                <p>Addition: <strong>{{model.addition}}</strong></p>
            </div>

        </div>
    </div>
</div>