<h1>Words</h1>

<div class="container-fluid">
  <div class="row">
    {{#link-to 'words.new' tagName='button' class='btn btn-default'}}New word{{/link-to}}
  </div>
</div>

<br />

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Word</th>
        <th>Base form</th>
        <th>Type</th>
        <th>Subtype</th>
        <th>Addition</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |word|}}
        <tr>
            <td>{{word.id}}</td>
            <td>{{word.word}}</td>
            <td>{{word.baseform}}</td>
            <td>{{word.type}}</td>
            <td>{{word.subtype}}</td>
            <td>{{word.addition}}</td>
            <td>
              {{#link-to 'words.edit' word.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
                <button class="btn btn-danger btn-xs" {{action 'deleteWord' word}}>Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>