<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          {{#link-to 'index' class="navbar-brand"}}Sarah{{/link-to}}
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
              {{#nav-link-to 'index'}}Home{{/nav-link-to}}
              {{#nav-link-to 'about'}}About{{/nav-link-to}}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {{#nav-link-to 'words'}}Words{{/nav-link-to}}
                      {{#nav-link-to 'index'}}Greetings{{/nav-link-to}}
                      {{#nav-link-to 'index'}}Farewells{{/nav-link-to}}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>